<body>
<div class="container home-page">
  <div class="profile home">
    <aside>
      <img src="../../img/cat.jpg" alt="Cat image" class="img-circle">
      <h4>{{currentUser.firstname}} {{currentUser.lastname}}</h4>
      <p class="mn">Junior podsos @PODSOSbl</p>
      <hr>
      <!--<p>My pages:</p>-->
      <!--<ul>-->
        <!--<li><a href="{{currentUsrer.facebook}}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>-->
        <!--<li><a href="{{currentUsrer.github}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>-->
        <!--<li><a href="{{currentUsrer.email}}"><i class="fa fa-at" aria-hidden="true"></i></a></li>-->
      <!--</ul>-->
    </aside>
  </div>
</div>
</body>


