<body>
<div class="container home-page">
  <div class="profile home">
    <aside>
      <img src="../../img/cat.jpg" alt="Cat image" class="img-circle">
      <h4>Yauhen Penkin</h4>
      <p class="mn">Junior podsos @PODSOSbl</p>
      <hr>
      <p>My pages:</p>
      <ul>
        <li><a href="https://www.facebook.com/penkin.evgeniy"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/32penkin/"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/penkin.evgeniy"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      </ul>
    </aside>
  </div>
</div>
</body>


