<body>
<div class="container login">
  <form class="form-signin">
    <div ng-show="successMessage" class="alert alert-success">
      <strong>{{successMessage}}</strong>
    </div>
    <div ng-show="alertMessage" class="alert alert-warning">
      <strong>{{alertMessage}}</strong>
    </div>
    <h1 class="text-center">Sign in</h1>
    <p>
      <label class="sr-only">Username</label>
      <input ng-model="user.username" type="text" placeholder="Username" class="form-control" required autofocus>
    </p>

    <p>
      <label class="sr-only">Password</label>
      <input ng-model="user.password" type="password" placeholder="Password" class="form-control" required>
    </p>
    <button ng-click="login(user)" type="submit" class="btn btn-primary btn-block">Sign in</button>
  </form>
</div>
<!--<div class="container loggedin" ng-show="token">-->
  <!--<h2>OK! You are successfully logged in!</h2>-->
<!--</div>-->
</body>
