<div class="container-fluid main-cont">
  <div us-spinner="{radius:30, width:8, length: 16}" ng-show="loading"></div>
  <div class="row">
    <div class="col-md-3 profile" ng-show="user">
      <aside>
        <img src="../../img/cat.jpg" alt="Cat image" class="img-circle">
        <h4>{{user.firstname}} {{user.lastname}}</h4>
        <p>Podsos eng. @PODSOS</p>
        <hr>
      </aside>
    </div>
    <div class="col-md-8">
      <article>
        <h1>{{post.name}}</h1>
        <div class="lead">{{post.content}}</div>
      </article>
      <hr class="line">
      <div class="for-comments">
        <h3 ng-if="comments.length !== 0">Comments:</h3>
        <div class="row">
          <div ng-repeat="comment in comments" class="comments">
            <comment content="comment.content" date="comment.date" author="comment.author"></comment>
          </div>
          <form ng-show="user">
            <h3>Have your say</h3>
            <p>
              <label class="sr-only">Message</label>
              <textarea ng-model="comCont" class="form-control" placeholder="Message" id="message" required
                        autocomplete="off"></textarea>
            </p>
            <p>
              <button ng-click="addNewComment()" class="btn btn-primary">Send messsage</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>