<body>
<div class="container-fluid main-cont">
  <div us-spinner="{radius:30, width:8, length: 16}" ng-show="loading"></div>
  <div class="row">
    <div class="col-md-3 profile"  ng-show="user">
      <aside>
        <img src="../../img/cat.jpg" alt="Cat image" class="img-circle">
        <h4>{{user.firstname}} {{user.lastname}}</h4>
        <p>Podsos eng. @PODSOS</p>
        <hr>
      </aside>
    </div>
    <div class="col-md-8 all-posts">
      <!--<article ng-repeat="post in posts">-->
      <h1 ng-show="posts.length === 0" class="posts-count-header">There are no posts</h1>
      <h1 ng-show="posts.length === 1" class="posts-count-header">There are 1 post:</h1>
      <h1 ng-show="posts.length !== 0 && posts.length !== 1" class="posts-count-header">There are {{posts.length}}
        posts</h1>
      <article dir-paginate="post in posts | itemsPerPage: 3">
      <!--<article ng-repeat="post in posts">-->
        <header class="post-info"><a href="#!/posts/{{post._id}}"><h2>{{post.name}}</h2></a></header>
        <footer class="post-date">
          <small><b>Posted on: </b> {{post.date}} <b>by: </b>{{post.author}}</small>
          <br>
          <small ng-if="post.commentsCount === 0">Haven't commented yet</small>
          <small ng-if="post.commentsCount === 1">Commented <b>once</b></small>
          <small ng-if="post.commentsCount !== 0 && post.commentsCount !== 1">Commented <b>{{post.commentsCount}}</b> times</small>
        </footer>

        <div class="lead">{{post.content}}<a href="#!/posts/{{post._id}}"> Read more</a>
        </div>
        <hr>
      </article>
      <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>
</div>
</body>