body {
  .home-page {
    margin-top: 100px;
    max-width: 400px;
    text-align: center;
    .home {
      aside {
        img {
        }
        h4 {
        }
        .mn {
        }
        p {
        }
        ul {
          list-style: none;
          padding: 0;
          margin-left: 150px;
          li {
            float: left;
            margin-right: 12px;
            text-align: center;
            a {
              i {
                font-size: 20px;
                color: #afb1b5;
              }
            }
          }
        }
      }
    }
  }
}