body {
  .main-cont {
    max-width: 1000px;
    margin-top: 100px;
    .row {
      .profile {
        margin-right: 40px;
        aside {
          ul {
            list-style: none;
            padding: 0;
            li {
              float: left;
              margin-right: 12px;
              a {
                i {
                  font-size: 20px;
                  color: #afb1b5;
                }
              }
            }
          }
        }
      }
      .col-md-8 {
        .for-comments {
          .row {
            .comments {
              margin-left: 16px;
            }
            form {
              margin-left: 16px;
              margin-right: 16px;
            }
          }
        }
      }
    }

  }
}